@{
    Layout = "_LayoutAdminLoggedIn";
    ViewData["Title"] = "Administration Page";
}

<partial name="_Notification" />
<div class="mt-5">
    <a asp-controller="Admin" asp-action="MainQueue" class="btn btn-primary mx-2">Queue Status</a>
    <a asp-controller="Admin" asp-action="ServicePoints" class="btn btn-primary mx-2">Configure Service Points</a>
    <a asp-controller="Admin" asp-action="ServiceProviders" class="btn btn-primary mx-2">Configure Service Providers</a>
    <a asp-controller="Admin" asp-action="AnalyticalReports" class="btn btn-primary mx-2">View Reports</a>
</div>