@model IEnumerable<ServicePoint>

<partial name="_Notification" />
<h2 class="mt-5">Please select the type of service you require:</h2>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var servicePoint in Model)
        {
            <tr class="table-active">
                <th scope="row">@servicePoint.Name</th>
                <td>@servicePoint.Description</td>
                <td>
                    <form method="post" asp-action="CheckIn">
                        <input type="hidden" name="servicePointId" value="@servicePoint.Id" />
                        <button type="button submit" class="btn btn-dark">Select This Service</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

