@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To A Simple Queueing Management System</h1>
    <h2>You can proceed and checkin into the queue</h2>
    <button type="submit" class="btn btn-primary">
        <a class="nav-link text-light" asp-area="" asp-controller="CheckIn" asp-action="Index">Select Type Of Service</a>
    </button>
</div>
