@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
    <html>
        
    <body>
        <div class="text-center m-2">
            <div>
                <h2>Welcome to X bank QMS kiosk.</h2>

                <h3>What services would you like?</h3> 
            </div>
            <h4>
            <li>
                @Html.ActionLink("QMS CHECKIN PAGE", "CheckinPage", "Queue", null)
            </li>

            <li>
                @Html.ActionLink("QMS SERVICE POINT PAGE", "ServicePoint", "Queue", null)
            </li>

            <li>
                @Html.ActionLink("QMS ADMIN DASHBOARD", "Dashboard", "Admin", null)
            </li>
        </div>

    </body>

</html>