@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center my-5">
    @*<h1 class="display-3 fw-bold text-one ">Queue Management System</h1>*@

    <div class="display-3 fw-bold text-one waviy">
        <span style="--i:1">Q</span>
        <span style="--i:2">U</span>
        <span style="--i:3">E</span>
        <span style="--i:4">U</span>
        <span style="--i:5">E</span>
        <span style="--i:6"> </span>
        <span style="--i:7">M</span>
        <span style="--i:8">A</span>
        <span style="--i:9">N</span>
        <span style="--i:10">A</span>
        <span style="--i:11">G</span>
        <span style="--i:12">E</span>
        <span style="--i:13">M</span>
        <span style="--i:14">E</span>
        <span style="--i:15">N</span>
        <span style="--i:16">T </span>
        <span style="--i:17"> </span>
        <span style="--i:18">S</span>
        <span style="--i:19">Y</span>
        <span style="--i:20">S</span>
        <span style="--i:21">T</span>
        <span style="--i:22">E</span>
        <span style="--i:22">M</span>
    </div>

    <br>
 
    <p class="lead text-secondary">Transforming Queues into Experiences</p>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <p class="text-muted">Streamlining operations and providing a seamless experience with our Queue Management System. Get real-time insights, reduce wait times, and enhance customer satisfaction.</p>
        </div>
    </div>

    @*<button class="btn btn-lg btn-success mt-3">Get Started</button>*@
    @*<button class="btn btn-lg btn-custom-pink mt-3">Get Started</button>*@
    <a href="@Url.Action("CheckinPage", "Queue")" class="btn btn-lg btn-custom-pink mt-3">Get Started</a>

</div>



