@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>You can proceed And Select the type of service you would like to recieve</h2>
    @* <button type="button" class="btn btn-primary btn-lg">
        <a class="nav-link text-light" asp-area="" asp-controller="CheckIn" asp-action="Index">Select Type Of Service</a>
    </button> *@
    <button type="button" class="btn btn-primary btn-lg">
        <a class="nav-link text-light" asp-area="" asp-controller="CheckIn" asp-action="Index">Select Type Of Service</a>
    </button>
</div>
