@model ServiceProvider

@{
    ViewData["Title"] = "Authenticate Service Provider";
}

<form method="post" asp-action="Authenticate">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control"/>
    </div>

    <div class="w-12 btn-group" role="group">
        <input type="submit" class="btn btn-primary mx-1" value="Authenticate" />
        <a asp-action="Index" class="btn btn-danger mx-1">Back</a>
    </div>
</form>
