@{
    Layout = "_LayoutServiceProvider";
}

<partial name="_Notification" />
<h1 class="mt-4">Service Point Menu</h1>

<a asp-controller="ServicePoint" asp-action="Queue" class="btn btn-primary mt-1">Current Queue Status</a>
