@{
    Layout = "_LayoutServiceProvider";
}

<partial name="_Notification" />
<h1 class="mt-4">Service Point Menu</h1>

<a asp-controller="ServicePoint" asp-action="Queue" class="btn btn-primary mt-1">Current Queue Status</a>

@* <form asp-controller="ServicePoint" asp-action="GetNextNumber" method="post" class="w-12 btn-group">
    <button type="submit" class="btn btn-primary">Get Next Number</button>
</form> *@
