@model Queue_Management_System.Models.Customer

<div class="container text-center my-5">
    <h2 class="display-3 fw-bold text-one ">View Latest Customer Queue Information</h2>


    <section class="mt-5">
        <div class="container-lg">
            <div class="row my-5 g-0 align-items-center justify-content-center">
                <div class="row justify-content-md-center">
                    <div class="card border-0" style="width: 25rem;">
                        <div class="card-body text-center py-4">
                            <h2 class="card-title" style="font-size: 40px">Ticket Details</h2>
                            <p class="text-two text-center"> Customer Ticket Number</p>
                            <p class="text-three text-center"> @Model.QueueNumber </p>

                            @if (Model.ServicePoint != null)
                            {
                                <p class="text-two text-center"> Service Point</p>
                                <p class="text-three text-center"> @Model.ServicePoint.ServicePointName </p>

                                <p class="text-two text-center"> Served By</p>
                                <p class="text-three text-center"> @Model.ServicePoint.ServedBy </p>
                            }
                            else
                            {
                                <p class="text-two text-center"> Service Point</p>
                                <p class="text-three text-center"> Default Service Point </p>

                                <p class="text-two text-center"> Served By</p>
                                <p class="text-three text-center"> Default  </p>
                            }

                        </div>
                    </div>
                </div>

            </div>

        </div><!-- end container -->
    </section>

    <div>
        <a asp-action="Welcome" asp-controller="ServicePointProvider" class="btn btn-lg btn-custom-pink mt-3">Back to Service Provider Tasks</a>
    </div>

</div>


