@model ServiceProviderViewModel

<div class="container">
    <h2>Edit ServiceProvider</h2>

    <form asp-controller="ServiceProvider" asp-action="Edit" method="post">
        <input type="hidden" asp-for="ServiceProviderId" />

        <div class="form-group">
            <label asp-for="Username">Username:</label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Role:</label>
            <select asp-for="Role" asp-items="Model.Roles" class="form-control"></select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>ServicePoints:</label>
            @foreach (var servicePoint in Model.AllServicePoints)
            {
                var servicePointId = Convert.ToInt32(servicePoint.Value);
                var isChecked = Model.SelectedServicePointIds.Contains(servicePointId);

                <div class="form-check">
                    <input type="checkbox" id="servicePoint_@servicePoint.Value" name="SelectedServicePointIds" value="@servicePoint.Value" class="form-check-input" checked="@isChecked" />
                    <label for="servicePoint_@servicePoint.Value" class="form-check-label">@servicePoint.Text</label>
                </div>
            }
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
        </div>
    </form>
</div>

