@model Queue_Management_System.Models.LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div>
        <h1>Login</h1>
        <form id="loginForm" asp-action="Login" asp-controller="Account" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="UsernameOrEmail"></label>
                <input asp-for="UsernameOrEmail" class="form-control" />
                <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button id="loginButton" type="submit">Login</button>
        </form>
    </div>

   
</body>
</html>
