@model IEnumerable<Queue_Management_System.Models.ServicePointM>
@{
    ViewData["Title"] = "Checkin Page";
}
<hr />


<div class="text-center row justify-content-center ">
    <h1>WELCOME CUSTOMER</h1>
    <h3 class="">SERVICES WE OFFER</h3>
    <h5>Kindly Select A Service</h5>
    <div class="row justify-content-center" style="width: 50vw">
        @foreach (var item in Model)
        {
            <div class="col-6">
                <button style="width: 100%; padding:20px;  margin: 20px; 10px; background-color : #800000; " data-id="@item.Id" class="btn btn-primary allocateBtn" type="button"> @Html.DisplayFor(modelItem => item.Name) </button>
            </div>
        }
    </div>
</div>

<form id="allocationForm" asp-action="AddCustomerToQueue">
    <input type="hidden" id="leaveTypeIdAllocate" name="Id" />
</form>
@section Scripts{
    <script>
        $(function () {
            $('.allocateBtn').click(function (e) {
                swal({
                    title: "Welcome",
                    text: "You want to Book this Service?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#leaveTypeIdAllocate').val(id);
                        $('#allocationForm').submit();
                    }
                });
            });
        });
    </script>
}

 
   