
@model CheckinViewModel

@{    
ViewData["Title"] = "Check-In";

}

<h2>Check-In</h2>

<form asp-action="WaitingPage" method="post">
    <label asp-for="ServicePointName">Select Service Type:</label>
    <select asp-for="ServicePointName" name="ServicePointName">
        <option value="1">Service 1</option>
        <option value="2">Service 2</option>
    </select>
    <button type="Submit">Let's Go</button>
</form>
