<h3 class="text-center">Select Service</h3>

<div class="container text-center">
    <button class="btn btn-primary mb-3">Withdrawal</button>
    <br/>
    <button class="btn btn-primary mb-3">Forex</button>
    <br />
    <button class="btn btn-primary mb-3">Cheque</button>
</div>


