
@model CheckinViewModel

@{    
ViewData["Title"] = "Check-In";

}

<h2>Check-In</h2>

<form asp-action="WaitingPage" method="post">
    <label asp-for="SelectedServicePointId">Select Service:</label>
    <select asp-for="SelectedServicePointId" asp-items="@(new SelectList(Model.CurrentServiceProviderServicePoints, "ServicePointId", "ServicePointName"))">
        <option>Please select a service</option>
    </select>
    <button type="Submit">Let's Go</button>
</form>
