@{
    ViewData["Title"] = "Not Configured";
}
<h1>@ViewData["Title"]</h1>

<p>Sorry. You have not been configured to a Service Point yet. Please check with an administrator for more information.</p>
