
@model WaitingPageViewModel;

@{
    
}

<h2>Waiting Page</h2>

<p>Ticket Number: @Model.TicketNumber </p> 
<p>Service Point: @Model.ServicePointName </p>

<input type = "button" value = "Print Ticket" onclick="location.href='@Url.Action("DownloadTicket", "Queue", @Model)'"/> 
