
@{
    ViewData["Title"] = "WaitingPage";
}

<div class="container text-center my-5">
    <h1 class="display-3 fw-bold text-one ">Your Ticket Info</h1>

@*    <button class="btn btn-lg btn-custom-pink mt-3">Get Queued</button>

    <div>
        <button class="btn btn-lg btn-custom-pink mt-3">Print Ticket</button>
    </div>*@

    <section class="mt-5">
        <div class="container-lg">
            <div class="row my-5 g-0 align-items-center justify-content-center">
                <div class="row justify-content-md-center">
                    <div class="card border-0" style="width: 25rem;">
                        <div class="card-body text-center py-4">
                            <h2 class="card-title" style="font-size: 40px">Ticket Details</h2>
                            <p class="text-two text-center"> Your Ticket Number</p>
                            <p class="text-three text-center"> 7 </p>
                            <p class="text-two text-center"> Service Provider</p>
                            <p class="text-three text-center"> Name </p>

                            @*                        <p class="lead card-subtitle">7</p>
                            <p class="display-5 my-4 text-primary fw-bold">Service Provider</p>
                            <p class="card-text text-center">Name</p>*@
                        </div>
                    </div>
                </div>

            </div>

        </div><!-- end container -->
    </section>


</div>


<!-- pricing plans -->


