@{
    ViewData["Title"] = "Waiting Page";
    var calledTickets = ViewData["CalledTickets"] as IEnumerable<(TicketModel, string)>;
}

<!DOCTYPE html>
    <html>
       
    <body>
        <div class="text-center m-2">
            <div>
                <h3>
                Thank you for choosing to use qms services.<br />
                You are now at the waiting room.<br />
                
                <br/>
                
            </div>

            <div>
                called tickets
                @if (calledTickets != null)
                {
                    foreach(var item in calledTickets)
                    {
                        <h4>Ticket Nummber : @item.Item1.TicketNumber head to @item.Item2</h4>
                    }
                }
            </div>

            <div>
                Your ticket details are shown below:<br/>
                @await ViewBag.WebReport.Render()
            </div>
        </div>
    </body> 
</html>