
@model WaitingPageViewModel;

<div class="container mt-5">
    <div class="card text-center">
        <div class="card-body">
            <h2 class="card-title">Waiting Page</h2>

              <div id="calledTicketSection">
            </div>


            @if (Model.Tickets.Any())
            {
                <ul class="list-group">
                    @foreach (var ticket in Model.Tickets)
                    {
                        <li class="list-group-item">
                            Ticket Number: @ticket.TicketId<br />
                            Service Point: @ticket.ServicePoint
                        </li>
                    }
                </ul>
            }
            else
            {
                <p class="card-text text-muted">No tickets in the queue.</p>
            }

            <p class="card-text text-muted">You are waiting for your ticket to be called. Please be patient.</p>

            <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary">Back to Home</a>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/ticket.js"></script>