@model IEnumerable<CustomerTicket>

<h2>Waiting Customers Currently On the Queue</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ticket Number</th>
            <th>Destination</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customerTicket in Model)
        {
            <tr>
                <td>@customerTicket.Id</td>
                <td>Room: @customerTicket.ServicePointId</td>
            </tr>
        }
    </tbody>
</table>
