@model IEnumerable<CustomerTicket>

<partial name="_Notification" />
<h2 class="mt-4">Waiting Customers Currently On the Queue</h2>

<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col" style="color: black;">Ticket Number</th>
            <th scope="col" style="color: black;">Destination</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customerTicket in Model)
        {
            <tr class="table-light">
                <th style="color: black;" scope="row">@customerTicket.Id</th>
                <td style="color: black;">Room: @customerTicket.ServicePointId</td>
            </tr>
        }
    </tbody>
</table>
